* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo 2', sans-serif;

    --primary-color: #002D72;
    --accent-color: #007849;
    --second-accent: #B20A2C;
    --third-accent: #FFD700;
    --neutral-color: #333333;
}